<div class="navbar" style="background: #FAFAFA; opacity: 0.9;">
  <div class="navbar_left">
    <a href="/" class='logo_btn'>
      <%= image_tag "logo6.png", class: "logo2"%>
    </a>   
  </div>
  <div class="space"></div>
  <a class="waves-effect waves-light btn" style="width: 250px; margin: 12px;" id="modal_signin_btn"><i class="material-icons left">person</i>Connection</a>
</div>
<!-- Modal Sign In -->
<div id="modal_signin" class="modal">
  <div class="modal-header">
    <h4>Connection</h4>
  </div>
  <div class="modal-content" style="text-align: center;">
    <div class="row" style=" padding: 0 20px; margin:0;">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="input-field">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true %>
        </div>
        <div class="input-field">
          <%= f.label :password, 'Mot de passe' %>
          <%= f.password_field :password, autofocus: true %>
        </div>
        <div style="padding: 20px;">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Se souvenir de moi ?" %>
        </div>
        <%= f.submit "c'est parti !", class: "btn" %>
        <br>
        <br>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer" style="text-align:left; display:flex; border-top: solid 1px #ddd;">
    <a class="btn btn-flat modal-close"  style="padding-top: 2px;">Annuler</a>
    <div class='space'></div>
    <a class="btn blue lighten-1" style="min-width: 230px; padding-top: 2px;" id="modal_signup_btn">Pas encore inscrit ?</a>
  </div>
</div>
<!-- Modal Sign Up -->
  <div id="modal_signup" class="modal">
    <div class="modal-header">
      <h4>Inscription</h4>
    </div>
    <div class="modal-content" style="text-align: center;">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password confirmation</label>
        </div>
      </div>
      <div style="display: flex; width: max-content; margin: auto;">
      <p><input type="checkbox" id="myCheckbox1"/><label for="myCheckbox1"></label></p>
      <p>J'accepte les <a href="">conditions générales d'utilisation</a></p>
    </div>
      <a class="btn">C'est parti !</a>
    </div>  
    <div class="modal-footer" style="text-align:left; display:flex; border-top: solid 1px #ddd;">
      <a class="btn btn-flat modal-close"  style="padding-top: 2px;">Annuler</a>
      <div class='space'></div>
      <a class="btn blue lighten-1"  id="modal_signin_btn2" style="min-width: 230px; padding-top: 2px;">Déjà inscrit ?</a>
    </div>
  </div>
<script>
  $(document).ready(function () {
    $('.modal').modal();
    $('#modal_signin_btn, #modal_signin_btn2').on('click', function (event) {
      $('#modal_signup').modal('close');
      $('#modal_signin').modal('open');
    });
    $('#modal_signup_btn').on('click', function (event) {
      $('#modal_signin').modal('close');
      $('#modal_signup').modal('open');
    });
  });
</script>