<div class="sidenav">
  <div class="sn_body">
    <!-- General item -->
    <div class="sn_item active">
      <a class="sn_item_body" href="/">
        <div class="sn_item_title">
          <div class="sn_item_title_picto">
            <%= image_tag "home.png", class: "sn_picto"%>
          </div>
          <div class="sn_item_title_name" style="padding-top: 2px;">
            Général
          </div>          
        </div>
      </a>
    </div>
    <!-- /General item -->
    <div class="projects">
      <% current_user.projects_notified.each do |user_project| %>
        <%= render 'projects/project', project: user_project.project, user: user_project %>
      <% end %>
      <% current_user.projects_not_notified.each do |user_project| %>
        <%= render 'projects/project', project: user_project.project, user: user_project %>
      <% end %>
      <div class="new_project_zone">
      </div>
      <% current_user.projects_mute.each do |user_project| %>
        <%= render 'projects/project', project: user_project.project, user: user_project %>
      <% end %>
    </div>

  </div>
  <a href="#ModalNewProject" class="sn_footer modal-trigger">
    Créer Projet
  </a>
</div>
<%= render 'projects/new' %>