<div id="contact_iter<%=contactid%>">
  <!-- Contact item -->
  <div class="contact">
    <div class="contact_dp_btn_info" style="padding-left: 10px;" id="contact_dp_btn_info<%=contactid%>and<%=groupid%>">
      Jose Garcia
    </div>
    <a hreh="#" class="contact_add_btn">
      <i class="material-icons">add</i>
    </a>
  </div>
  <!-- Contact dp info -->
  <div class="contact_dp_info undisplay" id="contact_dp_info<%=contactid%>and<%=groupid%>">
    <div class="contact_dp_info_line">
      <div class="contact_dp_info_line_50">
        <i class="fa fa-building" style="margin: 3px;"></i>
        <div style="margin-left: 5px;">
          Benamou Beach
        </div>
      </div>
      <div class="contact_dp_info_line_50">
        <i class="fa fa-id-card" style="margin: 3px;"></i>
        <div style="margin-left: 5px;">
          Director
        </div>
      </div>
    </div>
    <div class="contact_dp_info_line">
      <i class="material-icons" style="font-size: 17px; margin-top: 5px;">email</i>
      <div style="margin-left: 10px; padding-top: 4px;">
        jose.garcia@gmail.com
      </div>
    </div>

    <div class="contact_dp_info_line">
      <i class="material-icons" style="font-size: 17px; margin-top: 5px;">phone</i>
      <div style="margin-left: 10px; padding-top: 4px;">
        0618162342
      </div>
    </div>

    <div class="contact_dp_info_line_group">
      <i class="material-icons" style="font-size: 17px; margin-top: 5px; margin-right: 5px;">group</i>
      <div>
        <div class="contact_group">
          group1ee
        </div>
        <div class="contact_group">
          group2
        </div>
        <div class="contact_group">
          group3ezeze
        </div>
        <div class="contact_group">
          group1
        </div>
        <div class="contact_group">
          group2
        </div>
        <div class="contact_group">
          group3
        </div>
        <a class="contact_group contact_add_group_btn">
          +
        </a>
      </div>
      
    </div>

    <div class="contact_dp_info_line" style="padding: 5px;">
      <a class="btn_contact">
        <i class="fa fa-edit" style="margin: 3px;"></i>
        editer
      </a>
      <a class="btn_contact">
        <i class="fa fa-trash" style="margin: 3px;"></i>
        Retirer de vos contacts
      </a>
    </div>

  </div>
  <!-- /Contact dp info -->

  <!-- /Contact dp info -->
  <script>
    $(document).ready(function () {
      // Open info
      $('#contact_dp_btn_info<%=contactid%>and<%=groupid%>').on('click', function (event) {
        $('#contact_dp_info<%=contactid%>and<%=groupid%>').slideToggle();
        $('.contact_dp_info').not('#contact_dp_info<%=contactid%>and<%=groupid%>').slideUp();
      });
    });
  </script>
  <!-- /Contact item -->
</div>
