<div class="element_form" id="element_form<%= f.id %>">
  <div class="element_form_header inline">
    <div class="element_form_title inline">
      <i class="fa fa-font" style="margin-right: 5px; margin-top: 2px;"></i>
      TEXTE
    </div>
    <div class="space"></div>
    <a href="/posts/<%= @post.id%>/delete_element?elementid=<%=f.id%>" data-method="patch" data-remote="true" data-confirm="Voulez vous supprimer cet élément ?" class="element_form_btn">
      <i class="fa fa-trash element_form_icon"></i>
    </a>
  </div>
  
  <div class="element_form_body">
    <%= f.fields_for :elements do |element| %>
      <%= render 'posts/elements/text_field', f: element %>
    <% end %>
  </div>
</div>