<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email_project.email %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @email_project.cat %>
</p>

<%= link_to 'Edit', edit_email_project_path(@email_project) %> |
<%= link_to 'Back', email_projects_path %>
